.create-an-account{
  padding: 0 20px;
}

.app-work-title{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 44px;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 60px;
  margin-top: -120px;
  padding: 0 15px;
}

.app-work-title::before{
  content: "";
  display: block;
  width: 70%;
  height: 3px;
  margin: 60px auto;
  background-color: #e4e4e4;
}

.create-text-container{
  max-width: 600px;
  padding: 0 20px;
  margin-left: 170px;
}

@media screen and (max-width: 1200px) {
  .create-text-container{
    margin-left: 100px;
  }
}

@media screen and (max-width: 992px) {
  .create-text-container{
    margin-left: 50px;
  }
}

@media screen and (max-width: 768px) {
  .create-flex{
    flex-direction: column;
  }

  .create-text-container{
    margin-top: 50px;
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .app-work-title{
    font-size: 36px;
    margin-top: -50px;
  }
}

@media screen and (max-width: 376px) {
  .app-work-title{
    font-size: 26px;
  }
  .create-flex{
    flex-direction: column-reverse;
  }
  .create-text-container{
    margin-top: 0px;
  }
}