.create-an-account{
  margin-top: -50px;
}

.create-heading-title{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 44px;
  color: var(--text-color);
  text-align: center;
  margin-bottom: 60px;
}

.create-heading-title::before{
  content: "";
  display: block;
  width: 70%;
  height: 3px;
  margin: 60px auto;
  background-color: #e4e4e4;
}

.create-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-text-container{
  width: 600px;
  margin-left: 170px;
}

@media screen and (max-width: 1200px) {
  .create-text-container{
    margin-left: 100px;
  }
}

@media screen and (max-width: 992px) {
  .create-text-container{
    margin-left: 50px;
  }
}

@media screen and (max-width: 768px) {
  .create-an-account{
    margin-top: -100px;
  }

  .create-flex{
    flex-direction: column;
  }

  .create-text-container{
    margin-top: 50px;
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .create-text-container{
    width: 500px;
  }
}