.device{
  position: relative;
  bottom: 150px;
  width: inherit;
}

.device-flex{
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 576px) {
  .device{
    bottom: 60px;
  }
  .device-wrapper{
    width: 80%;
  }
}

@media screen and (max-width: 376px) {
  .device{
    bottom: 55px;
  }
}