.info-section-margin {
  margin: 70px 0;
}

.info-flex-reversed{
  flex-direction: row-reverse;
}

.explore-text-container{
  max-width: 600px;
  margin-right: 170px;
  padding: 0 20px;
}

@media screen and (max-width: 1200px) {
  .explore-text-container{
    margin-right: 100px;
  }
}

@media screen and (max-width: 992px) {
  .explore-text-container{
    margin-right: 50px;
  }
}

@media screen and (max-width: 768px) {
  .info-flex-reversed{
    flex-direction: column;
  }

  .explore-text-container{
    margin-top: 50px;
    margin-right: 0;
    text-align: center;
  }
}

@media screen and (max-width: 376px) {
  .info-flex-reversed{
    flex-direction: column-reverse;
  }

  .explore-text-container{
    margin-top: 0;
  }
}