.explore-varieties {
  margin: 70px 0;
}

.explore-flex{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.explore-text-container{
  width: 600px;
  margin-right: 170px;
}

