.explore-varieties {
  margin: 70px 0;
}

.explore-flex{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.explore-text-container{
  width: 600px;
  margin-right: 170px;
}

@media screen and (max-width: 1200px) {
  .explore-text-container{
    margin-right: 100px;
  }
}

@media screen and (max-width: 992px) {
  .explore-text-container{
    margin-right: 50px;
  }
}

@media screen and (max-width: 768px) {
  .create-an-account{
    margin-top: -100px;
  }

  .explore-flex{
    flex-direction: column;
  }

  .explore-text-container{
    margin-top: 50px;
    margin-right: 0;
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .explore-text-container{
    width: 500px;
  }
}

@media screen and (max-width: 376px) {
  .explore-flex{
    flex-direction: column-reverse;
  }

  .explore-text-container{
    margin-top: 0;
    width: 350px;
  }
}