.footer{
  padding: 30px;
}

.footer-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.social-icon{
  display: flex;
}

.download-icon{
  margin: 0 15px;
}

.info{
  font-size: 12px;
}

@media screen and (max-width: 992px) {
  .footer-logo{
    display: none;
  }

  .footer-flex{
    flex-direction: column;
  }

  .info{
    margin-top: 30px;
  }
}