.greeting {
  padding: 70px 0 170px;
  background: url(/assets/images/greeting-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--primary-color);
}

.greeting-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.greeting-heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 58px;
  width: 939px;
  line-height: 80px;
  margin: 50px auto;
}

.greeting-btn-flex {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 992px) {
  .greeting-heading {
    width: 700px;
  }
}

@media screen and (max-width: 768px) {
  .greeting-heading {
    width: 650px;
  }
}

@media screen and (max-width: 576px) {
  .greeting {
    padding: 50px 0 150px;
  }
  
  .greeting-heading {
    width: 500px;
    font-size: 36px;
    line-height: 60px;
    margin: 30px auto;
  }

  .greeting-title{
    width: 350px;
    font-size: 20px;
    line-height: 30px;
  }
}